<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to index</title>
</head>
<body>
<ul>
    <li>
        <ul>
            Book应用程序
            <li><a href="book/">Random Books</a></li>
            <li><a href="book/query/?index=7">Query Book</a></li>
            <li><a href="book/item/1">Get a Book</a></li>
        </ul>
    </li>
    <li>
        <ul>
            Move应用程序
            <li><a href="movie/">Random Movies</a></li>
            <li><a href="movie/query/?index=7">Query Movie</a></li>
            <li><a href="movie/item/1">Get a Movie</a></li>
        </ul>

    </li>
</ul>
</body>
</html>